.list-node {
    display: grid;
    align-items: center;
    justify-items: center;
    scroll-behavior: smooth;
}

.list-item {
    text-align: start;
    text-indent: 1rem;
    display: grid;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 5px;
    border: 1px solid black;
    background: darkolivegreen;
    transition: all .2s;
}

.list-item:hover {
    cursor: pointer;
    filter: saturate(.2);
}

#notice:has(.list-node) {
    overflow-y: scroll;
    pointer-events: all;
}

.no-pointer {
    pointer-events: none;
}